/* Variables */
// Cache
$cache: 0;

/* Colors */
// Theme

// Status

/* Base Styles */
// Animations
$base-duration: 300ms;
$base-timing: ease;

// Breakpoints
$bp-min: 320px;
$bp-small: 540px;
$bp-medium: 800px;
$bp-large: 1200px;
$bp-max: 1440px;

// Fonts

// Typography

// Structure